.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

/* utility styles */

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: calc(100vh - 80px);
}

.text-decoration-none {
  text-decoration: none;
}

.rounded {
  border-radius: 12px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.p-10 {
  padding: 10px;
}

.font-bold {
  font-weight: bold;
}

.bg-gray {
  background: #ccc;
}

.text-black {
  color: black;
}

.border-0 {
  border: none;
}

/* utility styles end here */

.nav {
  height: 80px;
}

.post {
  border: 1px solid;
}

.post__btn {
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
